body {
  background-color: aqua;
}

.background {
  border: 2px solid black;
  padding: 10px;
}

.header {
  border: 2px solid black;
  padding: 10px;
}

.leftside {
  border: 2px solid black;
  padding: 10px;
}

.rightside {
  border: 2px solid black;
  padding: 10px;
}

.footer {
  border: 2px solid black;
  padding: 10px;
}