body {
  background: linear-gradient(#93c0ee, #8f94e4);
  font-size: 20px;
}

/* .background {
  border: 2px solid black;
  padding: 10px;
} */

.body {
  /* border: 2px solid black; */
  padding: 10px;
  display: flex;
  margin: 20px;
}

.leftside {
  /* border: 2px solid black; */
  border-right: 2px solid black;
  padding: 10px;
  margin: 20px;
  width: 30%;
  flex-direction: column;
}

.photoblock {
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
}

.contactblock {
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
}

.rightside {
  /* border: 2px solid black; */
  padding: 10px;
  margin: 20px;
  width: 70%;
}

.footer {
  /* border: 2px solid black; */
  border-top: 2px solid black;
  padding: 10px;
  margin: 20px;
  text-align: center;
}